.item {
    background: $item-bg;
    border: solid 1px $item-border;
    margin-bottom: $space;
    padding: $space;
}

.item-message {
    color: $item-text-color;
}

.item-status-message {
    color: $item-text-color;
    font-style: italic;
    text-align: center;
    margin: 0;
}